<% include partials/header %>

    <div class="container center-align">
        <h1> Movie Search </h1>
        <div class="highlight">

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="userInput" type="text">
                        <label for="userInput">What movie is on your mind?</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light" id="search" type="submit" name="action">Search
                    <i class="material-icons right">send</i>
                </button> 
            </form>
        </div>

        <div id="movieTitle">
        </div>
        <div id="moviePicture">
        </div>
        <div id="movieDisplay">
        </div>

        <ul class="pagination left-align">
            <li class="disabled" id="minus"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="waves-effect page" value="1" id="1"><a href="#!">1</a></li>
            <li class="waves-effect page" value="2" id="2"><a href="#!">2</a></li>
            <li class="waves-effect page" value="3" id="3"><a href="#!">3</a></li>
            <li class="waves-effect page" value="4" id="4"><a href="#!">4</a></li>
            <li class="waves-effect page" value="5" id="5"><a href="#!">5</a></li>
            <li class="waves-effect" id="plus"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>

<% include partials/footer %>